body {
  margin: 0;
}

.MuiInputBase-root {
  white-space: nowrap;
  align-items: baseline !important;
}

.MuiInputBase-root > input {
  padding-right: 12px;
}

.RaList-actions {
  margin-bottom: 1rem;
}

.list-page{
  flex-grow: 1;
}

.RaRichTextInput-editorContent p {
  word-wrap: break-word;
  word-break: break-all;
}